pihole/etc/adlists.list
pihole/etc/custom.list
pihole/etc/dhcp.leases
pihole/etc/dns-servers.conf
pihole/etc/dnsmasq.d/01-pihole.conf
pihole/etc/dnsmasq.d/06-rfc6761.conf
pihole/etc/gravity.db
pihole/etc/gravity_old.db
pihole/etc/list.1.raw.githubusercontent.com.domains
pihole/etc/list.1.raw.githubusercontent.com.domains.sha1
pihole/etc/local.list
pihole/etc/logrotate
pihole/etc/migration_backup/
pihole/etc/pihole-FTL.conf
pihole/etc/pihole-FTL.db
pihole/etc/setupVars.conf
pihole/etc/setupVars.conf.update.bak
pihole/etc/versions
